/* Style global pour le site booki */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap"); /* Raleway */

/* Variables global */
:root {
  /* Couleurs */
  --white: #ffffff;
  --yellow: #fed385;
  --blue: #0065fc;
  --blue-hover: #DEEBFF; 
  --black: #000000;
  --grey-1: #f2f2f2;
  --grey-2: #d9d9d9;

  /* Pour l'ombre des cards */
  --box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  --marge-mobile: 25px 20px;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  color: var(--black);
  background-color: var(--white);
  box-sizing: border-box;
}

h2,
h3 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--black);
}
a:hover:not(.lodgings a, .activities a) {
  color: var(--blue);
} /* Change la couleur du lien avec hover sauf : hébergements et activitées*/

.blue {
  color: var(--blue);
}

.grey-2 {
  color: var(--grey-2);
}

.highlight {
  font-weight: 600;
}

/* Entête */
.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 80px;
}
.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__logo img {
  height: 20px;
}
/* Bar de navigation */
.header__navbar ul {
  display: flex;
  height: 100%;
  list-style-type: none;
}
.header__navbar li {
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-top: var(--white) solid 2px;
  border-bottom: var(--white) solid 2px;
  height: 100%;
  cursor: pointer;
}
.header__navbar li:hover {
  border-top-color: var(--blue);
}
.header__navbar li:hover a {
  color: var(--blue);
  height: 100%;
  display: flex;
  align-items: center;
}

/* Contenu principal */
.main > section {
  margin: 36px 0;
}

/* Main header */
.search > * {
  margin: 28px 0;
}
.search-header__title {
  margin-bottom: 8px;
}
/* Formulaire de recherche */
.search-form {
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  height: 50px;
  overflow: hidden;
}
.search-form > * {
  font-size: 18px;
  font-weight: 700;
  border: solid 1px var(--grey-1);
  background-color: var(--white);
  padding: 0 16px;
}
.search-form__label {
  background-color: var(--grey-1);
  display: flex;
  align-items: center;
}
.search-form__input {
  outline: none;
}
.search-form__input:focus {
  border: 1px solid var(--blue);
}
.search-form__button {
  height: 100%;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0 15px 15px 0;
  border: solid 1px var(--blue);
}
.search-form__button--icon {
  display: none;
}
.search-form__button--text {
  display: block;
}
/* Filtres */
.search-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  font-weight: 700;
  font-size: 17px;
}
.search-filters__title {
  font-size: 18px;
}
.search-filters__button {
  padding: 12px 16px;
  border: 2px solid var(--grey-2);
  border-radius: 25px;
  background-color: var(--white);
  cursor: pointer;
}
.search-filters__button:hover {
  background-color: var(--blue-hover);
}
.search-filters__button--icon {
  color: var(--blue);
  padding-right: 10px;
}
/* Stats */
.search-result {
  display: flex;
  align-items: center;
}
.search-result__icon {
  color: var(--blue);
  border-radius: 25px;
  border: 1px var(--grey-2) solid;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 14px;
}

/* Résultats Hébergements */
.lodgings {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

/* Liste hébergements et top hébergements */
.lodging-list,
.lodging-top {
  background-color: var(--grey-1);
  border-radius: 20px;
  padding: 25px;
  gap: 25px;
}

/* Default card */
.card {
  display: flex;
  width: 100%;
  height: 144px;
  border-radius: 20px;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.card__picture {
  border: solid 5px var(--white);
  border-radius: 20px 0 0 20px;
}
.card-info {
  margin: 16px 10px 12px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  overflow-y: auto;
}
.card-info__title {
  font-size: 15px;
}
.card-info__price {
  font-size: 13px;
  flex: 1;
  margin: 7px 0;
}

/* Liste hébergements */
.lodging-list {
  display: grid;
  flex: 2;
  grid-template-columns: repeat(3, 1fr);
}
.lodging-list__title {
  grid-column: 1/-1;
}
.lodging-list__show-btn {
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
  cursor: pointer;
}
.lodging-list-card {
  flex-direction: column;
  height: 100%;
}
.lodging-list-card__picture {
  height: 124px;
  min-height: 124px;
  border-radius: 25px 25px 0 0;
}
.lodging-list .card-info {
  margin: 0 16px 10px 16px;
  height: 100%;
}

/* Top hébergements */
.lodging-top {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.lodging-top__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lodging-top-card__picture {
  width: 35%;
}
.lodging-top .card-info {
  width: 100%;
  flex: 1;
}

/* Activitées */
.activities {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.activities__title {
  width: 100%;
}
.activities a {
  width: calc(25% - 25px);
}

.activity-card {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  height: 100%;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.activity-card__picture {
  width: 100%;
  height: 364px;
  display: block;
}
.activity-card__title {
  padding: 20px;
  margin: auto 0;
  font-weight: 700;
  font-size: 15px;
}

/* Pied de page */
.footer {
  background-color: var(--grey-1);
  display: flex;
  height: 200px;
  padding-top: 30px;
}
.footer-card {
  margin-left: 30px;
  flex: 1;
}
.footer-card__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-card__link {
  display: block;
  margin: 12px auto;
}

/* Media queries Responsive */
/* Pour la version tabette */
@media screen and (max-width: 1024px) {
  /* Base */
  body {
    padding: 0 40px;
  }

  /* Main header */
  .search-filters {
    gap: 10px;
  }
  .search-filters__title {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 6px;
  }
  .search-filters__button {
    font-size: 16px;
    padding: 12px 16px;
  }
  .search-filters__button--icon {
    padding-right: 4px;
    font-size: 18px;
  }

  /* Résultats Hébergements */
  .lodgings {
    flex-direction: column;
  }

  /* Liste hébergements et top hébergements */
  .lodging-list,
  .lodging-top {
    gap: 15px;
  }

  /* Default card */
  .card-info__title {
    font-size: 14px;
  }

  /* Top hébergements */
  .lodging-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .lodging-top__title {
    grid-column: 1/-1;
  }
  .lodging-top-card__picture {
    width: 34%;
  }
  .lodging-top .card-info {
    margin: 10px 5px;
  }

  /* Activitées */
  .activities a {
    width: calc(25% - 20px);
  }

  .activity-card__picture {
    height: 200px;
  }
  .activity-card__title {
    font-size: 14px;
  }
}

/* Pour la version smartphone */
@media screen and (max-width: 767px) {
  /* Base */
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  /* Contenu principal */
  .main > section {
    margin: 0;
  }
  .main > section:first-child {
    padding-top: 10px;
  }
  .main > section:last-child {
    margin-bottom: 36px;
  }

  /* Entête */
  .header {
    flex-direction: column;
    height: 130px;
  }
  .header__logo {
    margin: 20px 0;
    height: auto;
    display: flex;
    justify-content: center;
  }
  /* Bar de navigation */
  .header__navbar {
    flex: 1;
  }
  .header__navbar li {
    flex: 1;
    display: flex;
    justify-content: center;
    border-bottom-color: var(--grey-1);
  }
  .header__navbar li:hover {
    border-top-color: var(--white);
    border-bottom-color: var(--blue);
  }

  /* Main header */
  .search {
    padding: var(--marge-mobile);
  }
  .search-form {
    position: relative;
    overflow: visible;
  }
  .search-form__label {
    border-radius: 15px 0 0 15px;
  }
  .search-form__input {
    border-radius: 0 15px 15px 0;
  }
  .search-form__button {
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  /* Formulaire de recherche */
  .search-form__input {
    width: 100%;
  }
  .search-form__button--text {
    display: none;
  }
  .search-form__button--icon {
    display: block;
  }
  /* Filtres */
  .search-filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .search-filters__title {
    grid-column: 1 / -1;
  }
  .search-filters__button {
    font-size: 14px;
  }
  .search-filters__button--icon {
    font-size: 16px;
  }

  /* Résultats Hébergements */
  .lodgings {
    gap: 0;
    flex-direction: column-reverse;
  }

  /* Default card */
  .card-info__price,
  .card-info__title {
    font-size: 16px;
  }

  /* Liste hébergements et top hébergements */
  .lodging-list,
  .lodging-top {
    padding: var(--marge-mobile);
    gap: 12px;
    border-radius: 0;
  }

  /* Liste hébergements */
  .lodging-list {
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
  .lodging-list__show-btn {
    padding: 8px 0;
  }
  /* Top hébergement */
  .lodging-top {
    display: flex;
  }

  /* Activitées */
  .activities {
    flex-direction: column;
    padding: var(--marge-mobile);
    gap: 12px;
  }
  .activities a {
    width: 100%;
  }
  .activity-card {
    width: 100%;
  }
  .activity-card__title {
    font-size: 16px;
  }
  .activity-card__picture {
    height: 141px;
  }

  /* Pied de page */
  .footer {
    display: block;
    height: 500px;
    padding: 5px 0;
    padding-left: 30px;
  }
  .footer-card {
    margin: 40px auto;
  }
}
