@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

:root {
  --white: #ffffff;
  --yellow: #fed385;
  --blue: #0065fc;
  --black: #000000;
  --grey-1: #f2f2f2;
  --grey-2: #d9d9d9;
  --box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  --marge-mobile: 0 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  color: var(--black);
  background-color: var(--white);
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--blue);
}

.blue {
  color: var(--blue);
}

.grey-2 {
  color: var(--grey-2);
}

.highlight {
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100px;
}
.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.header__logo img {
  height: 20px;
}
.header__navbar ul {
  display: flex;
  height: 100%;
  list-style-type: none;
}
.header__navbar li {
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-top: var(--white) solid 2px;
  border-bottom: var(--white) solid 2px;
  height: 100%;
}
.header__navbar li:hover {
  border-top-color: var(--blue);
  cursor: pointer;
}
.header__navbar li:hover a {
  font-weight: 500;
  color: var(--blue);
}

.main > section {
  margin: 24px 0;
}

.search > * {
  margin: 24px 0;
}

.search-header__title {
  margin-bottom: 8px;
}

.search-form {
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  height: 50px;
  overflow: hidden;
}
.search-form > * {
  font-size: 18px;
  font-weight: 700;
  border: solid 1px var(--grey-1);
  background-color: var(--white);
  padding: 0 16px;
}
.search-form__label {
  background-color: var(--grey-1);
  display: flex;
  align-items: center;
}
.search-form__input {
  outline: none;
}
.search-form__input:focus {
  border: 1px solid var(--blue);
}
.search-form__button {
  height: 100%;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0 15px 15px 0;
  border: solid 1px var(--blue);
}
.search-form__button--icon {
  display: none;
}
.search-form__button--text {
  display: block;
}

.search-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  font-weight: 700;
  font-size: 17px;
}
.search-filters__title {
  font-size: 18px;
}
.search-filters__button {
  padding: 10px 16px;
  border: 2px solid var(--grey-2);
  border-radius: 25px;
  background-color: var(--white);
  cursor: pointer;
}
.search-filters__button:hover {
  background-color: #deebff;
}
.search-filters__button--icon {
  color: var(--blue);
  padding-right: 10px;
}

.search-result {
  display: flex;
  align-items: center;
}
.search-result__icon {
  color: var(--blue);
  border-radius: 25px;
  border: 1px var(--grey-2) solid;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 14px;
}

/* == section 2 == */
/* logements */
.logements {
  display: flex;
  gap: 40px;
}

.logements > article {
  background-color: var(--grey-1);
  padding: 40px;
  border-radius: 20px;
}

.list-logement {
  flex: 2;
  justify-content: center;
  flex-wrap: wrap;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}

.top-logement {
  flex: 1;
}

.list-logement > h2 {
  grid-column: 1 / -1;
}

.top-logement > h3 {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.card {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  border: 5px solid var(--white);
  border-radius: 20px;
  overflow: hidden;
}

.top-logement .card {
  display: flex;
  height: 144px;
  width: 100%;
  margin-bottom: 33px;
}

.card > img {
  width: 100%;
  height: 124px;
}

.top-logement .card > img {
  width: 144px;
  height: 100%;
}

.card-info > * {
  margin: 2px;
}

.card > div {
  padding: 2px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-logement .card > div {
  padding: 10px 0;
  padding-left: 15px;
}

.card h3 {
  font-size: 16px;
  font-weight: 700;
}

.card p {
  font-size: 14px;
  margin-bottom: 8px;
}

.activities {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}
.activities__title {
  width: 100%;
}

.activity-card {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  width: calc(25% - 35px);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.activity-card__picture {
  width: 100%;
  height: 364px;
  display: block;
}
.activity-card__title {
  padding: 10px 20px;
  margin: auto 0;
}

.footer {
  background-color: var(--grey-1);
  display: flex;
  height: 225px;
  padding-top: 40px;
}
.footer-card {
  margin-left: 70px;
  flex: 1;
}
.footer-card__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-card__link {
  display: block;
  margin: 12px auto;
}

/* ============ Media Queries ============ */
@media screen and (max-width: 992px) {
  .logements {
    flex-direction: column;
  }

  .top-logement > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .top-logement .card {
    margin: 0;
    min-width: 225px;
    flex: 1;
    width: 100%;
  }

  .top-logement img {
    width: 100px !important;
  }

  .activity-card__picture {
    height: 196px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .header {
    flex-direction: column;
    height: 130px;
  }
  .header__logo {
    margin: 20px 0;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .header__navbar {
    flex: 1;
  }
  .header__navbar li {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .header__navbar li:hover {
    border-top-color: var(--white);
    border-bottom-color: var(--blue);
  }
  .header__navbar--active {
    border-bottom-color: var(--blue) !important;
  }
  .header__navbar--active a {
    color: var(--blue);
  }

  .search {
    padding: var(--marge-mobile);
  }

  .search-form__input {
    width: 100%;
  }
  .search-form__button--text {
    display: none;
  }
  .search-form__button--icon {
    display: block;
  }

  .search-filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .search-filters__title {
    grid-column: 1 / -1;
  }
  .search-filters__button {
    font-size: 11px;
  }
  .search-filters__button--icon {
    font-size: 12px;
  }

  .logements {
    gap: 0;
    flex-direction: column-reverse;
  }

  .logements > article {
    padding: var(--marge-mobile);
  }

  .logements > article:first-child {
    background-color: var(--white);
    grid-template-columns: repeat(1, 1fr);
  }

  .logements > article:first-child .card {
    height: 200px;
  }

  .top-logement .card > img {
    width: 137px !important;
  }

  .top-logement > div {
    gap: 10px;
  }

  .top-logement .card {
    height: 134px;
    flex: auto;
  }

  .activities {
    flex-direction: column;
    padding: var(--marge-mobile);
  }
  .activity-card {
    width: 100%;
  }
  .activity-card__picture {
    height: 134px;
  }

  .footer {
    display: block;
    height: 500px;
    padding: 5px 0;
    margin-left: 30px;
  }
  .footer-card {
    margin: 40px auto;
  }
}
